<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nyt Spelling Solver</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      {% if message %}
      <div class="alert alert-danger" role="alert">
        Usage example: <a href='https://nytspellingsolver.herokuapp.com/hmaint'>https://nytspellingsolver.herokuapp.com/hmaint</a>
        <p>H: required letter</p>
      </div>
      {% endif %}
      <div class="row justify-content-center">
        <div class="col-4">
        <ul class="list-group">
          {% for word in solved %}
          <li class="list-group-item" style="text-align: center">{{word}}</li>
          {% endfor %}
      </ul>
      </div>
      </div>
    </div>
  </body>
  </div>
</html>